<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand" *ngIf="!getUsername()">Welcome to ISRA learning</a>
      <a class="navbar-brand" *ngIf="getUsername()">hello {{getUsername()}}</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="['home']" (click)="collapseNavbar()">home</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="['account']" *ngIf="getUsername()" (click)="collapseNavbar()">Account</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="['history']" *ngIf="getUsername()" (click)="collapseNavbar()">History</a></li>
              <li class="nav-item dropdown mx-0 mx-lg-1" *ngIf="isAdmin()" #adminDropdownWrapper>
                <a class="nav-link py-3 px-0 px-lg-3 rounded dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                  <a class="dropdown-item" [routerLink]="['admin']" (click)="collapseNavbar()"><i class="fas fa-home"></i> Dashboard</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" [routerLink]="['admin/user-management']" (click)="collapseNavbar()"><i class="fas fa-users"></i> Users</a>
                  <div class="dropdown-divider"></div>
                  <div class="dropdown-submenu">
                    <a
                      class="dropdown-item dropdown-toggle"
                      href="#"
                      tabindex="-1"
                      [attr.aria-expanded]="quizSubmenuOpen"
                      (click)="toggleQuizSubmenu($event)">
                      <i class="fas fa-trash-alt"></i> Quizzes
                    </a>
                    <div class="dropdown-menu" [class.show]="quizSubmenuOpen">
                      <a class="dropdown-item" [routerLink]="['admin/quiz-management']" (click)="collapseNavbar()"><i class="fas fa-list"></i> Quiz Management</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" [routerLink]="['admin/create-quiz']" (click)="collapseNavbar()"><i class="fas fa-plus-circle"></i> Create Quiz</a>
                      <a class="dropdown-item" [routerLink]="['admin/upload-quiz']" (click)="collapseNavbar()"><i class="fas fa-upload"></i> Upload Quiz</a>
                      <a class="dropdown-item" [routerLink]="['admin/quiz-management']" (click)="collapseNavbar()"><i class="fas fa-edit"></i> Edit Quiz</a>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="showUnderConstruction($event, 'Lesson Management')">
                    <i class="fas fa-book"></i> Lessons
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="showUnderConstruction($event, 'Enrollment Management')">
                    <i class="fas fa-user-check"></i> Enrollments
                  </a>
                </div>
              </li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="['login']" *ngIf="!getUsername()" (click)="collapseNavbar()">Login</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="['register']" *ngIf="!getUsername()" (click)="collapseNavbar()">Register</a></li>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" style="cursor: pointer;" (click)="logOff()" *ngIf="getUsername()">log Off</a></li>
          </ul>
      </div>
  </div>
</nav>
<alpha-tronex-modal
  [show]="showPopup"
  [title]="popupTitle"
  [scrollToTopOnHide]="true"
  (close)="closePopup()">
  <div class="text-center p-3">
    <img src="https://media.giphy.com/media/l3vR85PnGsBwu1PFK/giphy.gif" alt="Under Construction" style="max-width: 120px; display: block; margin: 0 auto 1rem;" />
    <div class="mb-2" style="font-size: 1.1rem;">{{ popupMessage }}</div>
  </div>
  <div modal-actions>
    <button type="button" class="btn btn-primary mr-3" aria-label="Close dialog" (click)="closePopup()">
      <i class="fas fa-check mr-1"></i> Ok
    </button>
  </div>
</alpha-tronex-modal>