<section class="masthead bg-primary text-white text-center">
  <div class="container" *ngIf="curQuestion">
    <h2 class="mb-4">Quiz</h2>
    
    <div class="card text-dark">
      <div class="card-body">
        <div class="text-start">
          <h5 class="question text-left mb-4">{{curQuestion.question}}</h5>
          <p class="instructions text-muted text-start mb-4">{{curQuestion.instructions}}</p>
          
          <div class="form-group">
            <ng-template [ngIf]="this.multichoice">
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer1" value={{curQuestion.answer1}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="checkbox" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer2" value={{curQuestion.answer2}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="checkbox" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer3" value={{curQuestion.answer3}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="checkbox" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer4" value={{curQuestion.answer4}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="checkbox" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
            </ng-template>
            
            <ng-template [ngIf]="this.onechoice">
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer1" value={{curQuestion.answer1}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="radio" name="answer" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer2" value={{curQuestion.answer2}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="radio" name="answer" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer3" value={{curQuestion.answer3}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="radio" name="answer" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer4" value={{curQuestion.answer4}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="radio" name="answer" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
            </ng-template>
            
            <ng-template [ngIf]="this.truefalse">
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer1" value={{curQuestion.answer1}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="radio" name="answer" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="flex-grow-1 me-3">
                  <input type="text" class="form-control" id="answer2" value={{curQuestion.answer2}} style="max-width: 99%;" disabled>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="width: 2rem;">
                  <input type="radio" name="answer" class="form-check-input m-0" style="width: 1.5rem; height: 1.5rem;">
                </div>
              </div>
            </ng-template>
            
            <div class="row mt-5">
              <div class="col-sm-4">
                <button class="btn btn-secondary w-100" (click)="goPrevious()"
                  [style="max-width: 99%;" disabled]="this.curQuestion.questionNum <= 0">Previous</button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-primary w-100" (click)="submit()">Submit</button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-secondary w-100" (click)="goNext()"
                  [style="max-width: 99%;" disabled]="this.questions.length <= (this.curQuestion.questionNum + 1)">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container" *ngIf="!curQuestion">
    <div class="alert alert-warning">
      <p class="mb-0">Please check again later. Thanks.</p>
    </div>
  </div>
</section>