/* Edit Quiz Styles */

.card.bg-light {
  border: 2px solid #dee2e6;
}

.card-header h5 {
  color: #0056b3;
}

.btn-group .btn {
  margin-right: 5px;
}

.list-group-item-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.form-label.font-weight-bold {
  color: #495057;
  font-size: 1.05rem;
}

.form-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.form-check-input {
    margin-left: -7px;
}