<!-- Masthead-->
<section class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->
      <img class="masthead-avatar mb-1" src="assets/img/avataaars.svg" alt="happy child taking the quiz" />
      <!-- Masthead Heading-->
      <p class="masthead-heading mb-0" *ngIf="!getUsername()" style="font-size: larger;">{{ loginService.welcomePhrase }}</p>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <div class="masthead-subheading font-weight-light mb-0" *ngIf="getUsername()">
        <div class="quiz-list">
          <h3 class="mb-4">Select a Quiz to Start:</h3>
          <div class="list-group">
            <a 
              *ngFor="let quiz of quizzes" 
              (click)="startQuiz(quiz.id)" 
              class="list-group-item list-group-item-action quiz-link"
              style="cursor: pointer;">
              {{ quiz.title }}
            </a>
          </div>
        </div>
      </div>
  </div>
</section>